{% extends "base.html" %}

{% block body %}
<div class="container mt-5">
    <h2 class="text-center">Register</h2>
    <div class="col d-flex justify-content-center ">
        <div class="card col-sm-4 align-item-center">
            <div class="card-body">
                <form action="{% url 'register_user' %}" method="post">
                    {% csrf_token %}

                    <div class="mb-3">
                        <label for="username" class="form-label">Username</label>
                        <input type="text" class="form-control" id="username" name="username" placeholder="Enter your name">
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email">
                    </div>
                    <div class="mb-3">
                        <label for="password1" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password1" name="password1" placeholder="Enter your password">
                    </div>
                    <div class="mb-3">
                        <label for="password2" class="form-label">Confirm Password</label>
                        <input type="password" class="form-control" id="password2" name="password2" placeholder="Confirm your password">
                    </div>
                    <button class="btn btn-secondary" type="submit">Register</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock body %}